@import "tailwindcss";

html, body, #root {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    background-color: #111827;
}

body {
    overflow-y: scroll;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1f2937;
}

::-webkit-scrollbar-thumb {
    background: #4b5563;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
}